﻿<div class="panel panel-primary">
	<div class="panel-heading">
		{{pageTitle}}
	</div>
	<div class="panel-body">		

		<!--<div class="row">
			<img src="./app/assets/images/logo.jpg" class="img-responsive center-block" />
		</div>-->

		<div class="row">
			<div class="text-center">Developed by:</div>
			<h3 class="text-center">Deborah Kurata</h3>
			<div class="text-center">@deborahkurata</div>
			<div class="text-center">
				<a href="http://www.bit.ly/DeborahKsBlog">www.bit.ly/DeborahKsBlog</a>
			</div>
		</div>

		<client-report> Loading Client Report Test Component...  </client-report>

	</div>
</div>
