﻿<div class="panel panel-primary">

    <div class="panel-heading">
        Client Report  {{pageTitle}}
    </div>


    <div class="panel-body">

        <div class="row">
            <bl>
                <blbar>
                    <blbutton name="btn_Test_SaveProduct" title="Use CTRL+ALT+D to enable Design Mode" (click)='Test_SaveProduct()'>Test SaveProduct</blbutton>

                    <blbutton name="btn_Test_SaveProducts" title="Use CTRL+ALT+D to enable Design Mode" (click)='Test_SaveProducts()'> Test SaveProducts</blbutton>

                    <blbutton name="btn_Test_LoadProducts" title="Use CTRL+ALT+D to enable Design Mode" (click)='Test_LoadProducts()'>Test LoadProducts</blbutton>

                    <blcheckbox>
                        <label title="Use CTRL+ALT+U to continuously sync CSS changes into Visual Studio" style="font-weight: normal;">
                            F12 auto-sync
                            <input title="Use CTRL+ALT+U to continuously sync CSS changes into Visual Studio" id="_0_8675615510152734" type="checkbox">
                        </label>
                    </blcheckbox>

                </blbar>
            </bl>
        </div>

        <div class="row">
            <!--&nbsp;&nbsp;&nbsp; <button name="btn_Test_SaveProduct" class="btn btn-primary" (click)='Test_SaveProduct()'> Test SaveProduct </button>
            &nbsp;&nbsp;&nbsp; <button name="btn_Test_SaveProducts" class="btn btn-primary" (click)='Test_SaveProducts()'> Test SaveProducts </button>
            &nbsp;&nbsp;&nbsp; <button name="btn_Test_LoadProducts" class="btn btn-primary" (click)='Test_LoadProducts()'> Test LoadProducts </button>-->

        </div>

        <div class="row">
            &nbsp;&nbsp;&nbsp; <textarea name="txt_output" style="width: 747px; height: 80px;" rows="1" cols="21">output some text  </textarea>
        </div>


    </div>

</div>