﻿<div>

    <h3>Angular 2 File Upload - Example (ng2FileDrop - ng2FileSelect) </h3>

    <div ng2FileDrop
         [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
         (fileOver)="fileOverBase($event)"
         [uploader]="uploader"
         class="well my-drop-zone">
        Drop File Here
    </div>

    <div ng2FileDrop
         [ngClass]="{'another-file-over-class': hasAnotherDropZoneOver}"
         (fileOver)="fileOverAnother($event)"
         [uploader]="uploader"
         class="well my-drop-zone">
        Drop More Files Here
    </div>

    Multiple
    <input type="file" ng2FileSelect [uploader]="uploader" multiple&nbsp; /><br />

    Single
    <input type="file" ng2FileSelect [uploader]="uploader" />
</div>